:root {
    --color-orange-main: #FFA500;
    --color-navy: #3876BF;
    --color-teal: #468B97;
    --color-orange: #F3AA60;
    --color-black: rgba(21, 19, 19, 0.91);
    --color-text-color: #F3F0CA;
}
