:root {
    --color-orange-main: #FFA500;
    --color-navy: #3876BF;
    --color-navy-2: #5a8bd5;
    --color-navy-3: #2963a6;
    --color-teal: #468B97;
    --color-orange: #F3AA60;
    --color-black: rgba(21, 19, 19, 0.91);
    --color-text-color: #F3F0CA;
}
